/build/
/Testing/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
CTestCostData.txt

.vscode/
.idea/
.clangd/
compile_commands.json

*.o
*.obj
*.so
*.a
*.dylib
*.exe
*.out
*.log

tmp_*.json

.DS_Store
.cache/
